.product {
  width: 250px;
  margin: 0 auto 30px;
  border: 1px solid grey;
}

.product-name,
.product-desc,
.product-price {
  margin: 0 5px 3px;
}

.product-image {
  width: 250px;
  height: 250px;
}
