form {
  border: 1px solid gray;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form label {
  margin: 5px 0;
}

form input[type="text"],
form input[type="password"] {
  padding: 5px;
}

form input[type="submit"] {
  background-color: rgb(30, 144, 255);
  color: white;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: rgb(29, 125, 221);
}

h1 {
  text-align: center;
}
